/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  color: #0fc61b;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

#kissaContainer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-area {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex; /* Use flexbox layout */
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.card-img {
  flex: 1; /* Make the image container grow to fill available space */
  padding: 10px; /* Optional: Add padding for spacing */
}

.card-img img {
  width: 100%; /* Make the image fill the container */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.card-diary {
  flex: 2; /* Make the diary entry container grow to fill available space */
  padding: 10px; /* Optional: Add padding for spacing */
}



